<div class="card">
  <div class="card-header bordered">
    <div class="header-block">
      <h3 class="title">Добавить категорию</h3>
    </div>
  </div>
  <div class="card-block">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-group"
           [ngClass]="{'has-error': cname.invalid && cname.touched}"
      >
        <label class="control-label" for="category-name">Введите название</label>
        <input
                type="text"
                id="category-name"
                class="form-control"
                required
                #cname="ngModel"
                name="name"
                ngModel
        >
        <span *ngIf="cname.invalid && cname.touched" class="form-help-text">Название не может быть пустым</span>

      </div>
      <div [ngClass]="{'has-error': capacity.invalid && capacity.touched}"
              class="form-group">
        <label class="control-label" for="category-value">Введите лимит</label>
        <input
                type="number"
                id="category-value"
                class="form-control"
                required
                #capacity="ngModel"
                [ngModel]="1"
                name="capacity"
                min="1"
        >
        <span *ngIf="capacity.invalid && capacity.touched"
                class="form-help-text">Поле не может быть пустым</span>
      </div>
      <button [disabled]="f.invalid" type="submit" class="btn btn-primary">Добавить</button>
    </form>
  </div>
</div>
