<div class="card">
  <div class="card-header bordered">
    <div class="header-block">
      <h3 class="title">Редактировать категорию</h3>
    </div>
  </div>
  <div class="card-block">
    <div *ngIf="message.text" class="alert alert-{{message.type}}">
      {{message.text}}
    </div>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-group">
        <label class="control-label" for="e-select-category">Выберите категорию</label>
        <select name=""
                id="e-select-category"
                class="form-control"
                [(ngModel)]="currentCategoryId"
                (change)="onCategoryChange()"
                [ngModelOptions]="{standalone: true}"
        >
          <option *ngFor="let c of categories" [value]="c.id">
            {{c.name}}
          </option>
        </select>
      </div>
      <div class="form-group"
           [ngClass]="{'has-error': cname.invalid && cname.touched}"
      >
        <label class="control-label" for="e-category-name">Введите название</label>
        <input
                type="text"
                id="e-category-name"
                class="form-control"
                required
                #cname="ngModel"
                name="name"
                [ngModel]="currentCategory.name"
        >
        <span *ngIf="cname.invalid && cname.touched" class="form-help-text">Название не может быть пустым</span>

      </div>
      <div [ngClass]="{'has-error': capacity.invalid && capacity.touched}"
           class="form-group">
        <label class="control-label" for="e-category-value">Введите лимит</label>
        <input
                type="number"
                id="e-category-value"
                class="form-control"
                required
                #capacity="ngModel"
                [ngModel]="currentCategory.capacity"
                name="capacity"
                min="1"
        >
        <span *ngIf="capacity.invalid && capacity.touched"
              class="form-help-text">Поле не может быть пустым</span>
      </div>
      <button [disabled]="f.invalid" type="submit" class="btn btn-primary">Редактировать</button>
    </form>
  </div>
</div>
