<div class="title-block">
  <h3 class="title pull-left">
    Страница счета <span class="sparkline bar"></span>
  </h3>
  <div class="pull-right">
    <button class="btn-sm btn btn-primary-outline" (click)="onRefresh()">
      <i class="fa fa-refresh"></i>
    </button>
  </div>
</div>
<section class="section">
  <div class="row text-center" *ngIf="!isloaded">
    loading ...
  </div>
  <div class="row" *ngIf="isloaded">
    <app-bill-card [bill]="bill" [currency]="currency"></app-bill-card>
    <app-currency-card [currency]="currency"></app-currency-card>
  </div>
</section>